<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Laboratorio</title>
</head>
<body>
    <h1>
        <center>Eliminar Laboratorio</center>
    </h1>


    <p>Estás seguro de desear elimianr el laboratorio: "{{laboratorio.nombre}}"</p>
    <a href="{% url 'informacion' %}"><- Retornar</a>
    
    <div>
        <form action="{% url 'eliminar_confirmar' laboratorio.id %}">
            {% csrf_token %}
            <button type="submit">Confirmar</button>
        </form>
        
    </div>
</body>
</html>

<style>
    button {
        margin-top: 1rem;
    }
</style>